#firstScreen {
    min-height: 100%;
    position: absolute;
    text-align: center;
    padding-top: 15%;
}

.ctr {
    margin: 0 auto !important;
    text-align: center;
}

.vs {
    padding-top: 10%;
}

#playerDiv {
    background-color: yellow;
}

#defenderDiv {
    background-color: yellow;
}

.btn {
    text-align: center;
}

.animated {
    animation-duration: 1.5s;
}